name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Run linter
        run: npm run lint

      - name: Setup PostgreSQL
        uses: ankane/setup-postgres@v1
        with:
          postgres-version: 16

      - name: Run Prisma migrations
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/test_db?schema=public"

      - name: Build application
        run: npm run build
        env:
          DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/test_db?schema=public"
          NEXT_PUBLIC_APP_URL: "http://localhost:3000"
          NEXTAUTH_URL: "http://localhost:3000"
          NEXTAUTH_SECRET: "test-secret-for-ci-build-at-least-32-chars-long"
          PLEX_CLIENT_IDENTIFIER: "00000000-0000-0000-0000-000000000000"

